### Conditional Probablity:


P(Y | X) = P(X,Y) / P(X) <br/>
P(X | Y) = P(Y,X) / P(Y)

### Bayes theorem:

P(Y | X ) = P(X | Y) * P(Y) / P(X)

### NAÏVE BAYES: 1. PRIOR PROBABILITY

In [2]:
red_points = 20
blue_points = 40

prior_prob_red = Number of red / Total Number of Points

In [7]:
prior_prob_red = round(red_points/( red_points + blue_points),3)
prior_prob_red

0.333

In [8]:
prior_prob_blue = round(blue_points/( red_points + blue_points),3)
prior_prob_blue

0.667

### NAÏVE BAYES: 2. LIKELIHOOD

likelihood_x_red = Number of red points in vancity / Total Number of Red Points <br/><br/>
likelihood_x_blue = Number of blue points in vancity / Total Number of Blue Points

In [14]:
likelihood_x_red = round(3 / red_points, 3)
likelihood_x_red

0.15

In [17]:
likelihood_x_blue = round(1 / blue_points, 3)
likelihood_x_blue

0.025

### NAÏVE BAYES: 3. POSTERIOR PROBABILITY

post_prob_red = prior probablity of red ∗ likelihood of x being red <br/><br/>
post_prob_blue = prior probablity of blue ∗ likelihood of x being blue

In [20]:
post_prob_red = round(prior_prob_red * likelihood_x_red,3)
post_prob_red

0.05

In [21]:
post_prob_blue = round(prior_prob_blue * likelihood_x_blue, 3)
post_prob_blue

0.017

### NAÏVE BAYES: SOME MATH!

<strong> 1. P (Retire | X) = ( P(X | Retire) * P(Retire) ) / P(X) </strong>

p_retire = # of retire / Total points

In [28]:
p_retire = round(blue_points/(red_points + blue_points), 3)
p_retire

0.667

P(X | Retire ) = # similar observations for retiring / Total number of retire

In [29]:
p_x_retire = round(1/ blue_points,3)
p_x_retire

0.025

P(X) = # Similar observations / Total Points

In [32]:
p_x = round(4 / (blue_points + red_points), 3)
p_x

0.067

In [34]:
p_retire_x = round(( p_x_retire *  p_retire ) / p_x,3)
p_retire_x

0.249

<strong> 2. P (No Retire | X) = ( P(X | No Retire) * P(No Retire) ) / P(X) </strong>

In [37]:
p_no_retire = round(red_points / (blue_points + red_points), 3)
p_no_retire

0.333

P(X | No Retire) = # similar observation for no retire / Total Number of no retire

In [40]:
p_x_no_retire = round(3 / red_points,3)
p_x_no_retire

0.15

P(X) = #  similar observation / Total Points

In [46]:
p_x = round(4 / (blue_points + red_points),3)
p_x

0.067

In [47]:
p_no_retire_x = round((p_x_no_retire * p_no_retire) / p_x,3)
p_no_retire_x

0.746

### Genreal Formula

P ( Y | X1, X2, X3) = P(X1 | Y) * P(X2 | Y) * P(X3 | Y) * P(Y) / P(X1) * P(X2) * P(X3)

In [169]:
import pandas as pd
import numpy as np

In [170]:
df = pd.read_csv('golfexample.csv')

In [171]:
df.columns = df.columns.str.lower()

In [172]:
df

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [173]:
p_yes = round(len(df[df['play'] == 'yes']) / len(df),3)
p_yes

0.643

In [174]:
p_no = round(len(df[df['play'] == 'no']) / len(df),3)
p_no

0.357

## today = (sunny, cool, high, true)

P (Yes | Sunny, Hot, Normal, False) = ( p(sunny | yes) * p(hot | yes ) * p(normal | yes )* p(false | yes ) * p(yes) )/<br/>
p(sunny)* p(hot) * p(normal) * p(false)

In [176]:
df_yes = df[df ['play'] == 'yes']

### Sunny

In [177]:
df_yes_sunny = df_yes[df_yes['outlook'] == 'sunny']
df_yes_sunny

   outlook  temp humidity  windy play
8    sunny  cool   normal  False  yes
10   sunny  mild   normal   True  yes

In [178]:
p_yes_sunny = round(len(df_yes_sunny)/len(df_yes),3)
p_yes_sunny

0.222

### Temperature

In [179]:
df_yes_temp = df_yes[df_yes['temp'] == 'cool']
df_yes_temp

    outlook  temp humidity  windy play
4     rainy  cool   normal  False  yes
6  overcast  cool   normal   True  yes
8     sunny  cool   normal  False  yes

In [180]:
p_yes_temp = round(len(df_yes_temp) / len(df_yes) ,3)
p_yes_temp

0.333

### Humidity

In [181]:
df_yes_humidity = df_yes[df_yes['humidity'] == 'high']
df_yes_humidity

     outlook  temp humidity  windy play
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
11  overcast  mild     high   True  yes

In [182]:
p_yes_humidity = round(len(df_yes_humidity) / len(df_yes) ,3)
p_yes_humidity

0.333

### Windy

In [183]:
df_yes_windy = df_yes[df_yes['windy'] == True]
df_yes_windy

     outlook  temp humidity  windy play
6   overcast  cool   normal   True  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes

In [184]:
p_yes_windy = round(len(df_yes_windy) / len(df_yes) ,3)
p_yes_windy

0.333

In [185]:
p_sunny = round(len(df[df['outlook'] ==  'sunny' ]) / len(df),3)
p_sunny

0.357

In [186]:
p_temp = round(len(df[df['temp'] ==  'hot' ]) / len(df),3)
p_temp

0.286

In [187]:
p_humidity = round(len(df[df['humidity'] == 'normal' ]) / len(df),3)
p_humidity

0.5

In [188]:
p_windy = round(len(df[df['windy'] == False ]) / len(df),3)
p_windy

0.571

In [190]:
round(p_humidity_yes * p_sunny_yes * p_temp_yes * p_humidity_yes * p_yes,3)

0.014